.hidden {
    display: none;
}

body {
    background-color: #303030;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-family: 'Ubuntu',sans-serif;
    margin-bottom: 20px;
}

.title {
    height: 5%;
    background-color: #31343e;
    text-align: center;
}

a {
    color: white;
}

a:hover,a:visited,a:active,a:link {
    color:white;
}


.nav-link {
    padding: 0;
    margin: 0;
}

.nav-tabs > .nav-item {
    margin: -2px;
}

.nav-item > .active {
    background-color: #303030!important;
    color: white;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;  
    
}

.even {
    background-color: #31343e;}

.nav-link.active.show {
    color: white;
    border: none;

}

.nav-tabs {
    color:white;
    border-bottom: none;
}

.pane {
    margin-top: 20px;
    justify-content: center;
    padding: 10px;

}

.character-icon-div {
    padding: 1px;
}

.character-icon {
    max-height: 100px;
    max-width: 100px;
}

.character-info {
    font-style: italic;
    text-shadow: 3px 3px 2px #000;
    padding-top: 5px;
    font-size: 18px;
}

.show-border {
    border: 3px solid white;
}

.skills-output {
   top: -11px;
}

.dupe-checkboxes {
    margin-right: 0;
    justify-content: center!important;
}

.form-check-label {
    font-size: 9px;
}